.landing-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.landing-placeholder {
  background-color: grey;
  height: 300px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-header {
  font-size: 22px;
}

.landing-description {
  font-size: 18px;
}

@media (min-width: 600px) {
  .landing-wrapper {
    flex-direction: row;
  }

  .landing-text {
    align-self: flex-start;
    max-width: 500px;
  }

  .landing-header {
    font-size: 32px;
  }

  .landing-description {
    font-size: 22px;
  }
}