.landing-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px; 
  background-color:rgba(255, 255, 255);
}

.landing-header {
  font-size: 22px;
}

.landing-description {
  font-size: 18px;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .landing-wrapper {
    flex-direction: row;
  }

  .landing-text {
    align-self: flex-start;
    max-width: 500px;
  }

  .landing-header {
    font-size: 40px;
  }

  .landing-description {
    font-size: 22px;
  }

  .landing-placeholder {
    height: 320px;
    width: 480px;
  }
}

@media(min-width: 1050px) {
  .landing-placeholder {
    height: 427px;
    width: 640px;
  }
}