.invites-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invites-header {
  font-size: 22px;
}

.invites-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.invites-category-header {
  font-size: 18px;
}

.invite-club {
  padding-top: 20px;
}

.invite-name-and-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.invite-status {
  font-style: italic;
}

@media (min-width: 600px) {
  .invites-header {
    font-size: 32px;
  }

  .invites-category-header {
    font-size: 24px;
  }

  .invite-club-name {
    font-size: 18px;
  }
}