.dashboard-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  font-size: 22px;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  text-align: center
}

.dashboard-link {
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.dashboard-link:hover {
  text-shadow: 2px 2px rgb(215, 210, 210);
}

@media (min-width: 600px) {
  .welcome-text {
    font-size: 32px;
  }

  .dashboard-links {
    flex-direction: row;
  }

  .dashboard-link {
    font-size: 22px;
    margin: 20px 30px;
  }
}