.my-clubs-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px;
  /* background-color: whitesmoke; */
  background-color:rgba(255, 255, 255);
}

.my-clubs-header {
  font-size: 22px;
  margin-bottom: 20px;
}

.my-clubs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.my-clubs-club {
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-clubs-crown {
  padding: 20px 10px;;
}

.my-clubs-club:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.my-clubs-club-name{
  cursor: pointer;
  font-size: 18px;
  padding: 20px 10px;
  text-align: center;
}

.create-a-club {
  margin-top: 15px;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.create-a-club:hover {
  text-decoration: underline;
  /* text-shadow: 2px 2px rgb(215, 210, 210); */
}

.no-my-clubs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.return-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  font-style: italic;
}

.return-home:hover {
  cursor: pointer;
  text-decoration: underline;
  /* text-shadow: 2px 2px rgb(215, 210, 210); */
}

@media (min-width: 600px) {
  .my-clubs-header {
    font-size: 32px;
  }

  .my-clubs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .my-clubs-club {
    width: 50%;
  }
  
  .my-clubs-club-name {
    font-size: 24px;
  }
}

