.club-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.club-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.edit-club-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.club-name-header {
  font-size: 24px;
}

.club-description-header {
  font-size: 20px;
}

.club-meeting-header {
  font-size: 18px;
}

.fa-pencil:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.fa-x:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.club-left-and-right {
  display: flex;
  flex-direction: column-reverse;
}

.club-right {
  text-align: center;
}

.current-book-header {
  font-size: 18px;
}

.current-book {
  font-size: 18px;
}

.progress-bar {
  margin-top: 15px;
  width: 65%;
}

.book-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.book-button {
  width: 45%;
  margin: 0 5px;
  max-width: 150px;
  border: 2px solid black;
}

.book-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.nominated-books-button {
  width: 45%;
  max-width: 150px;
  border: 2px solid black;
  margin-top: 15px;
}

.nominated-books-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.discussion-header {
  font-size: 18px;
}

.discussion-questions {
  display: flex;
  flex-direction: column;
}

.discussion-question {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question {
  margin: 5px 0;
}

.new-question-input {
  padding: 5px;
  margin-right: 5px; 
}

.question-taken {
  margin-top: 10px;
  color: red;
}

.next-book-header {
  font-size: 18px;
}

.nominate-a-book-header {
  font-size: 18px;
  margin: 15px 0;
}

.nominations-container {
  display: flex;
  flex-direction: column;
}

.nomination-container {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.nominated-book {
  display: flex;
  flex-direction: row;
}

.delete-modal {
  display: flex;
  flex-direction: row;
  color: red;
}

.delete-options {
  display: flex;
  flex-direction: row;
}

.delete-option {
  margin: 0 5px;
}

.delete-option:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.check {
  margin-right: 20px;
}

.club-left {
  text-align: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.mobile-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  background-color: rgb(186, 92, 39);
  gap: 20px;
}

.club-members-header {
  font-size: 18px;
}

.admin-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.removable-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.past-books-container {
  max-height: 400px;
  overflow-y: auto;
}

.past-books-header {
  font-size: 18px;
}

@media (min-width: 600px) {
  .club-wrapper {
    align-items: unset;
    justify-content: unset;
  }

  .club-info {
    text-align: left;
    margin-bottom: 30px;
  }

  .mobile-banner {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
    padding-left: 0px;
    background-color: unset;
    gap: 20px;
  }

  .edit-club-container {
    justify-content: left ;
  }
  
  .arrow-down {
    display: none;
  }

  .club-left-and-right {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  
  .club-name-header {
    font-size: 32px;
  }

  .club-description-header {
    font-size: 28px;
  }

  .club-meeting-header {
    font-size: 24px;
  }

  .leave-link {
    font-style: italic;
    text-decoration: none;
    color: black;
  }

  .leave-link:hover {
    cursor: pointer;
    text-shadow: 2px 2px rgb(215, 210, 210);
  }

  .club-left {
    width: 30%;
  }

  .club-members-header {
    font-size: 22px;
  }
  
  .members-list {
    text-align: left;
  }

  .admin-member {
    justify-content: left;
  }

  .removable-member {
    justify-content: left;
  }
  
  .past-books-header {
    font-size: 22px;
  }

  .past-books-list {
    text-align: left;
  }

  .club-right {
    width: 60%;
    max-width: 700px;
  }

  .book-mobile-banner {
    display: none;
  }

  .current-book-header {
    font-size: 22px;
  }

  .current-book {
    font-size: 20px;
  }

  .discussion-header {
    font-size: 22px;
    text-align: center;
  }

  .percentage-of-completion {
    font-size: 18px
  }

  .book-button {
    width: 45%;
    margin: 0 30px;
    max-width: 150px;
    border: 2px solid black;
  }

  .new-question-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    width: 100%;
  }

  .new-question-field {
    width: 100%;
  }
  
  .new-question-input {
    width: 75%;
  }

  .nominate-a-book-header {
    text-align: left;
  }

  .next-book-header {
    font-size: 22px;
  }
}    