.club-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(255, 255, 255);
}

.club-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.edit-club-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.club-name-header {
  font-size: 24px;
}

.club-description-header {
  font-size: 20px;
}

.club-meeting-header {
  font-size: 18px;
}

.fa-pencil:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.fa-x:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.club-left-and-right {
  display: flex;
  flex-direction: column-reverse;
}

.club-right {
  text-align: center;
}

.current-book-header {
  font-size: 18px;
}

.current-book {
  font-size: 16px;
}

.progress-bar {
  margin: 10px 0;
  width: 65%;
}

.book-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.book-button {
  font-size: 12px;
  width: 45%;
  margin: 0 5px;
  max-width: 150px;
  min-width: 80px;
  border: 2px solid black;
  padding: 2px;
}

.book-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.nominated-books-button {
  width: 45%;
  max-width: 150px;
  border: 2px solid black;
  margin-top: 15px;
}

.nominated-books-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.view-current-book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
  font-style: italic;
}

.view-current-book:hover {
  cursor: pointer;
  text-decoration: underline;
}

.discussion-header {
  font-size: 18px;
}

.discussion-questions {
  display: flex;
  flex-direction: column;
}

.discussion-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.question {
  margin: 5px 0;
}

.new-question-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-question-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.new-question-input {
  padding: 5px;
  margin-right: 5px; 
  flex-grow: 3;
}

.question-taken {
  margin-top: 10px;
  color: red;
}

.nomination-taken {
  margin-top: 10px;
  color: red;
}

.next-book-header {
  font-size: 18px;
}

.nominate-a-book-header {
  font-size: 18px;
  margin: 15px 0;
}

.nominations-container {
  display: flex;
  flex-direction: column;
}

.nomination-container {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.nominated-book {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.leave-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.leave-link {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.leave-link:hover {
  cursor: pointer;
  text-decoration: underline;
  /* text-shadow: 2px 2px rgb(215, 210, 210); */
}

.delete-modal {
  display: flex;
  flex-direction: column;
  color: red;
}

.delete-modal-members {
  display: flex;
  flex-direction: column;
  color: red;
}

.delete-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.delete-option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.leave-modal {
  display: flex;
  flex-direction: column;
  color: red;
}

.leave-modal-members {
  display: flex;
  flex-direction: column;
  color: red;
}

.leave-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.leave-option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.check {
  text-align: right;
  margin-left: 20px;
}

.club-left {
  text-align: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.mobile-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  border-top-style: solid;
  border-top-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* margin: 40px 0 15px 0;
  text-decoration: underline; */
  /* background-color: rgb(186, 92, 39); */
  gap: 20px;
}

.mobile-banner-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  border-top-style: solid;
  border-top-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  /* margin: 40px 0 15px 0;
  text-decoration: underline; */
  /* background-color: rgb(186, 92, 39); */
  gap: 20px;
}

.club-members-header {
  font-size: 18px;
}

.admin-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.removable-member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.past-books-list {
  max-height: 200px;
  overflow-y: auto;
}

.past-book-container {
  margin-bottom: 5px;
}

.past-books-header {
  font-size: 18px;
}

@media (min-width: 600px) {
  .club-wrapper {
    align-items: unset;
    justify-content: unset;
  }

  .club-info {
    margin-bottom: 30px;
  }

  .mobile-banner {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
    padding-left: 0px;
    background-color: unset;
    gap: 20px;
    text-decoration: underline;
    border: unset;
  }

  .mobile-banner-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding-left: 0px;
    background-color: unset;
    gap: 20px;
    text-decoration: underline;
    border: unset;
  }
  
  .arrow-down {
    display: none;
  }

  .club-left-and-right {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
  }
  
  .club-name-header {
    font-size: 32px;
  }

  .club-description-header {
    font-size: 28px;
  }

  .club-meeting-header {
    font-size: 24px;
  }

  .leave-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
  }

  .leave-options {
    justify-content: unset;
  }
  
  .club-left {
    width: 30%;
  }

  .club-members-header {
    font-size: 22px;
  }
  
  .members-list {
    text-align: left;
  }

  .admin-member {
    justify-content: left;
  }

  .removable-member {
    justify-content: left;
  }
  
  .past-books-header {
    font-size: 22px;
  }

  .past-books-list {
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
  }

  .club-right {
    width: 60%;
    max-width: 700px;
  }

  .book-mobile-banner {
    display: none;
  }

  .current-book-header {
    font-size: 22px;
  }

  .current-book {
    font-size: 20px;
  }

  .discussion-header {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }

  .percentage-of-completion {
    font-size: 18px
  }

  .book-button {
    font-size: 16px;
    margin: 0 30px;
  }

  .new-question-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    width: 100%;
  }

  .new-question-field {
    width: 100%;
  }
  
  .new-question-input {
    width: 75%;
  }

  .nominate-a-book-header {
    text-align: left;
  }

  .next-book-header {
    font-size: 22px;
  }
}    