.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #D36B00;
}

.header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav-items {
  font-size: 22px;
  text-decoration: none;
  color: #42032C
}

.nav-items:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fa-book-open-reader {
  padding-bottom: 2px;
}

.fa-book-open-reader:hover {
  transform: scale(1.15)
}

.header-loggedout {
  display: flex;
  flex-direction: row;
  gap: 25px;
} 

@media (min-width: 600px) {
  .nav-items {
    font-size: 32px;
  }
}