.nominate-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(255, 255, 255);
}

.nominate-header {
  font-size: 22px;
  margin-bottom: 30px;
}

.nomination-sucess {
  margin-top: 20px;
}

.nominate-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.nominate-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nominate-form-input {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
  margin: 5px 0;
}

.submit {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
}

.submit:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .nominate-header {
    font-size: 32px;
  }
}
