.signup-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(255, 255, 255);
}

.signup-header {
  font-size: 22px;
}

.signup-sucess {
  margin-top: 20px;
}

.signup-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.signup-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-input {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
  margin: 5px 0;
}

.submit {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
}

.submit:hover {
  cursor: pointer;
}

.username-taken {
  margin-top: 10px;
  color: rgb(190, 0, 44);
}

.auth-alternative {
  margin-top: 10px;
  text-align: center;
}

.click-here {
  font-style: italic;
}

.click-here:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .signup-header {
    font-size: 32px;
  }
}