.signup-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-header {
  font-size: 22px;
}

.signup-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.signup-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-input {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
  margin: 5px 0;
}

.submit {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
}

.submit:hover {
  cursor: pointer;
}

.username-taken {
  margin-top: 10px;
  color: red;
}

.auth-alternative {
  margin-top: 10px;
}

.click-here {
  font-style: italic;
}

.click-here:hover {
  text-shadow: 2px 2px rgb(215, 210, 210);
}

@media (min-width: 600px) {
  .signup-header {
    font-size: 32px;
  }
}