.new-book-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(255, 255, 255);
}

.new-book-header {
  font-size: 22px;
  margin-bottom: 30px;
}

.new-book-success {
  margin-top: 20px;
}

.new-book-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.new-book-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-book-form-input {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
  margin: 5px 0;
}

.submit {
  font-family: 'Zilla Slab', serif;
  padding: 5px;
}

.submit:hover {
  cursor: pointer;
}

.book-already-exists-error {
  text-align: center
}

.book-already-exists-message {
  margin-top: 10px;
  color: red;
}

.link-to-search {
  margin-top: 15px;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.link-to-search:hover {
  text-shadow: 2px 2px rgb(215, 210, 210);
}

@media (min-width: 600px) {
  .new-book-header {
    font-size: 32px;
  }
}
