@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zilla Slab', serif;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}
