@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zilla Slab', serif;
  background-image: url("./photos/sincerely-media-DgQf1dUKUTM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}