.clubs-wrapper {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clubs-container {
  display: flex;
  flex-direction: column;
}
.clubs-header {
  font-size: 22px;
}

.clubs-individual-club {
  margin: 20px 0;
}

.clubs-club-name-and-invite-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.clubs-club-invite-status {
  font-style: italic;
}

.clubs-club-invite-status:hover {
  cursor: pointer;
}

.clubs-club-invite-pending {
  font-style: italic;
}

.new-club {
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) {
  .clubs-header {
    font-size: 32px;
  }

  .clubs-club-name {
    font-size: 18px;
  }
}