.clubs-wrapper {
  margin: 30px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-radius: 5px;
  background-color:rgba(255, 255, 255);
}

.clubs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.no-clubs-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.clubs-header {
  font-size: 22px;
  margin-bottom: 20px;
}

.click-to-join {
  margin-bottom: 10px;
}

.clubs-individual-club {
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}

.clubs-individual-club:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.clubs-club-name {
  font-size: 16px;
}

.clubs-club-blurb {
  font-size: 14px;
}

.clubs-club-meeting {
  font-size: 12px;
}

.new-club {
  text-align: center;
  font-style: italic;
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) {
  .clubs-header {
    font-size: 32px;
  }

  .clubs-club-name {
    font-size: 24px;
  }

  .clubs-club-blurb {
    font-size: 20px;
  }
  
  .clubs-club-meeting {
    font-size: 16px;
  }

  .clubs-container {
    max-width: 500px;
    width: 50%;
  }
}